.BookingFor_div {
    font-size: 80%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: #F5F5F5;
}

.bookedFor {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 0.6rem;

}

.add_beforeAvtar {
    font-size: 4rem;
}

.avatars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 12rem;
}



.add_beforeAvtar>h3,
.addedAvatar>h3 {
    font-size: 1.3rem;
    margin: 0;
}

.addedAvatar,
.add_beforeAvtar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconLoaction {
    text-align: center;
    font-size: 4rem;
    color: #000C83;
}

.pickUpLocation,
.selectBookingSlot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    width: 60%;
    border-radius: 0.6rem;
    background-color: white;

}

.iconLoaction>p {
    font-size: 1rem;
    margin: 0;
    color: black;
}

.addAddressButton {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000C83;
    margin: 1rem 0;
    border: none;
    background-color: white;

}

.appointmentDate {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.appointmentSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    margin: 1rem 0;
    border-radius: 0.8rem;
    width: 20rem;
}

.appointmentOptions {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.appointmentOption {
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin: 0.5rem 1rem;
}

.appointmentSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.hideOptions {
    display: none;
}

.activeOption {
    background-color: rgb(96, 96, 247);
    color: white;
}

.checkoutButton {
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 0.6rem;
}