.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.header_logo>img {
    width: 10rem;
    object-fit: contain;
}


.menuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItems>a {
    text-decoration: none;
}

.searchwithPrescreption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.searchbar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.6rem;
    margin-right: 0.5rem;
    background-color: #E7EDFF;

}



.searchbar_input {
    border: none;
    font-size: 1rem;
    margin: 0.4rem;
    width: 90%;
    background-color: #E7EDFF;
    padding: 0.5rem 0.5rem;
}

.searchbar_input:focus {
    outline: none;
}

.uploadPrescription {
    padding: 0.25rem;
}

.selectState>select {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.selectState>select:focus {
    outline: none;
}

@media(max-width : 900px) {
    .header_main {
        padding: 0.5rem;
    }

    .header_logo>img {
        width: 8rem;
        object-fit: contain;
    }

}

@media(max-width : 550px) {
    .header_menu {
        display: none;
    }

    .searchwithPrescreption {
        position: relative;
    }

    .selectState {
        position: absolute;
        top: -3rem;
        right: 0;
    }

    .uploadPrescription>.header__options {
        margin: 0;
    }

    .searchbar {
        margin-right: 3rem;
    }

}